body {
    position: relative; 
}
h1,p{
    color: rgb(83, 39, 21);
    text-align: center;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.bg-dark > p , .bg-dark > h1{
    color: azure !important;
}
#section3{
    border-top: blanchedalmond solid 3px;
}
iframe{
    
    margin-left: 28%;
    align-self: center;
    border: 0;
}
.last.p{
  float: left;
  margin-left: 0%;
  text-align: justify;
}
.common{
    padding: 70px 0;
}
